---
import PercentageSlider from "../components/PercentageSlider.astro";
import Chat from "../components/Chat.astro";
import Stars from "../components/Stars.astro";
import Sparkling from "../components/Sparkling.astro";
import Umbrella from "../components/Umbrella.astro";
import Mirror from "../components/Mirror.astro";
import Qoutes from "../components/Quotes.astro"
import Menu from "../components/Menu.astro"
import CallToAction from "../components/CallToAction.astro"
import Video from "../components/Video.astro";
import Viserdig from "../components/Viserdig.astro";
import TopGirltalk from "../components/TopGirltalk.astro";
import IkkeAlene from "../components/IkkeAlene.astro";



---

<!-- import PercentageSlider from "../Components/PercentageSlider.astro";
import Chat from "../Components/Chat.astro";
import Stars from "../Components/Stars.astro";
import Sparkling from "../Components/Sparkling.astro";
import Umbrella from "../Components/Umbrella.astro";
import Mirror from "../Components/Mirror.astro";
import Qoutes from "../Components/Quotes.astro"
import Menu from "../Components/Menu.astro"
import CallToAction from "../Components/CallToAction.astro"
import Video from "../Components/Video.astro";
import Viserdig from "../Components/Viserdig.astro";
import TopGirltalk from "../Components/TopGirltalk.astro"
import IkkeAlene from "../Components/IkkeAlene.astro";


 -->


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ekx8bwt.css">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
<header>
	<Menu/>
</header>
	<main>
		<TopGirltalk />
		<section class="grid1-1">
			
			<div><Qoutes 
			quotes="Jeg føler mig anderledes ift. pigerne i min klasse"/></div>
			
			<Qoutes
			quotes="Jeg hader min krop, fordi jeg føler mig for tyk.   " />
			
			<div><Qoutes 
			quotes="Jeg har fået diagnosen autisme, så jeg føler anderledes end de andre "
			/></div>
			
			<Qoutes 
			quotes="Selvom jeg har venner, føler jeg mig tit ensom."
			/>
		</section>
		<IkkeAlene />
		<section>
			<Video/>
		</section>
		<section>
			<Chat
			src={"/mirrorGirl.webp"}
			text={"Jeg får det dårligt af at kigge på Instagram Når jeg står og ser mig selv i spejlet føler jeg min krop er forkert. Min mave er for tyk, mine bryster er for små, mine ben er for korte... "}
			/>
			<Chat
			src={"/sittingGirl.webp"}
			text={"Jeg har faktisk nogle gode veninder, men jeg føler mig stadig rigtig ensom. Jeg har tre gode veninder. Jeg savner virkelig noget fællesskab og sammenhold i en lidt større vennekreds. Så i bund og grund er jeg rigtig tit alene. Det gør mig rigtig ked af det."}
			/>
			<Chat
			src={"phoneGirl.webp"}
			text={"Mine veninder er begyndt at drikke alkohol og holde fester. Jeg føler mig presset og er bange for at blive holdt udenfor, hvis jeg ikke gør det også"}
			/>
		</section>
    <div class="question_container">
      <PercentageSlider
        graphText="HVOR MANGE LGTBQ+ ELEVER TROR DU FØLER, AT DE IKKE KAN VÆRE SIG SELV?"
        classColor="bluecolor">
        <Umbrella />
      </PercentageSlider>

      <PercentageSlider
        graphText="HVOR MANGE 15 ÅRIGE PIGER, TROR DU, FØLER SIG FOR TYKKE?"
        classColor="redcolor" >
        <Stars />
      </PercentageSlider>
		<PercentageSlider
			graphText="HVOR MANGE PIGER I 9.KLASSE, TROR DU HAR LAVT SELVÆRD?"
			classColor="bluecolor">
			<Sparkling />
		</PercentageSlider>

			<PercentageSlider
			graphText="HVOR MANGE 15 ÅRIGE PIGER, TROR DU, FØLER SIG FOR TYKKE?"
			classColor="bluecolor"
			>
			<Mirror />
			</PercentageSlider>
		</section>
	</div>
	<section class="bagground-color">
		<Viserdig/>
		<CallToAction />
	</section>
	</main>
    
  </body>
</html>

<style>

body{
  background-color: #FFF5EB;
  background-image: url('/Imgs/FloralVines.png');
  background-repeat: no-repeat;
  background-size: cover;
} 

.grid1-1{
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 40rem;
	margin: 20vw;
}
.grid1-1 div:nth-child(1){
text-align: right;
}
.grid1-1:nth-child(2){
text-align: left;
}
.grid1-1 div:nth-child(3){
	text-align: right;
}

.grid1-1:nth-child(4){
	text-align: left;
}

  body {
    background-color: #fff5eb;
    background-image: url("Imgs/FloralVines.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .question_container {
    background-color: #f7c7d9;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

  }
  .bagground-color{
	background-color:#FFF5EB;
	padding-top: 10rem;

  }
</style>
