---
import Quotes from "../components/Quotes.astro";
import Menu from "../components/Menu.astro";
import Scrollpy from "../components/Scrollpy.astro";
import Video from "../components/Video.astro";
import Viserdig from "../components/Viserdig.astro";
import { Code } from "astro:components";
import CallToAction from "../components/CallToAction.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/ekx8bwt.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  </style>
  <body>
    <Menu />
    <Viserdig />
    <Video />
    <CallToAction />
  </body>
</html>
