---
import Knap from "../components/Knap.astro";
---

<card class="call-to-action">
  <img id="end-img" src="calltoactionpic.png" alt="" />

  <div class="text-container">
    <h2>Bliv en del af vores sisterhood</h2>
    <Knap />
  </div>
</card>

<style>
  h2 {
    color: #273aa9;
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .call-to-action {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 20rem 0 10rem;
  }

  #end-img {
    width: 80%;
    max-width: 500px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .call-to-action,
  .text-container {
    grid-area: 1/1;
  }

  .call-to-action,
  img {
    grid-area: 1/1;
  }


</style>
