<div class="ikkealene">
  <p>INGEN FORTJENER AT STÅ ALENE</p>
  <img src="../notAlone.webp" alt="" class="ikkealeneimg" />
  <div class="colorbox"></div>
</div>

<style>
  p {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 5rem;
    color: #fc4e5c;
    max-width: 800px;
  }

  .ikkealeneimg {
    padding: 15rem 0 0;
    object-fit: contain;
    width: 100%;
    max-width: 600px;

  }
  .ikkealene {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30rem 1rem;
  }

  .colorbox {
    background-color: #fc4e5c;
    padding: 20rem;
    margin: -1rem 0 -30rem;
    width: 100%;
    
  }

  @media screen and (max-width: 800px) {
    p {
      font-size: 3rem;
    }
  }
</style>
