<button>
    <a href="https://www.girltalk.dk/vores-tilbud/faellesskaber/">Find en gruppe nær dig</a>
    <div class="border knap"></div>
</button>


<style>
button {
 position: relative;
 margin: auto;
 padding: 1em 2.5em 1em 2.5em;
 border: none;
 background: #FC4E5C;
 transition: all 0.1s linear;
 border-radius: 2em;
 display: flex;
 align-items: center;
 font-size: 1rem; 
}

a {
color: #fff;
text-decoration: none;
font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@media screen and (max-width: 680px){

    button{font-size: 1rem;} 

    
}


</style>