<div class="topComment">
  <p><span>Hos GirlTalk</span> er intet for småt, for stort eller for pinligt at tale om, og ingen tanker er forkerte.</p>
</div>

<style>
  p {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8rem;
    color: #fc4e5c;
    max-width: 400px;

  }

  span {
    font-size: 2rem;
    color: #fc4e5c;
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }

  .topComment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20rem 1rem;
  }


</style>
