---
import UmbrellaAnimation from "./UmbrellaAnimation.jsx";
---
<div class="item umbrella">
    <h2>25%</h2>
    <p>Af børn i 5 til 8 klasse føler sig ensomme</p>
    <div style="width: 100%;" class="container">
      <UmbrellaAnimation client:only="react" />
    </div>
  </div>

  <style>
    *{
      margin: 0;
      padding: 0;
    }
    h2 {
        color: #FC4E5C;
      font-family: "obviously", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 4rem;
    padding: 2rem 0;

    }
    p {
      color: #FC4E5C;
      font-family: "archivo-variable", sans-serif;
      font-variation-settings: "wdth" 100, "wght" 600;
      font-style:'SemiBold' ;
      font-size: 1.5rem;
    }
  
    .item {
      display: grid;
      grid-column: 1fr;
      text-align: center;
      justify-content: center;
    }
    .container{
      display: flex;
      place-self: center;
    }
    
  </style>
  


